body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d3557;
    font-family: FiraCode;
    min-height: 98vh;
}

#grid-container {
    margin-top: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 0;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    padding: 0;

    font-size: 40px;
}

.grid-node {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid rgb(172, 172, 172);
}
.colored {
    background-color: #1d3557;
}

#buttons {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

#slider {
    width: 240px;
    height: 42px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 3px solid black;
    padding: 14px;
    border-radius: 15px;
    background-color: #457b9d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider {
    width: 240px;
}

#value {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button {
    font-size: 25px;
    color: white;
    background-color: #457b9d;
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    font-family: FiraCode;
}

#clear {
    background-color: #caf0f8;
    color: black;

    text-align: center;
    padding: 20px 10px;
}

.startText {
    font-size: 24px;
    font-weight: 600;
}




#random {
    background-color: #FF0000;
    animation: bgColor 5s infinite linear;
    color: black;
  }
  @keyframes bgColor {
    12.5% {
      background-color: #FF0000;
    }
    25% {
      background-color: #FFA500;
    }
    37.5% {
      background-color: #FFFF00;
    }
    50% {
      background-color: #7FFF00;
    }
    62.5% {
      background-color: #00FFFF;
    }
    75% {
      background-color: #0000FF;
    }
    87.5% {
      background-color: #9932CC;
    }
    100% {
      background-color: #FF1493;
    }
  }

  footer {
    margin-top: auto;
    color: white;
    font-size: 20px;
  }